.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
}

.addTask {
  height: 30vh;
  background-color: rgb(107, 98, 13);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}
.task button {
  margin: 8px;
  padding: 10px;
  margin-left: 20px;
  text-align: center;
}

.task {
  width: 50%;
  margin: 8px;
}